{% extends 'myadmin/base.html' %}
{% block block_add%}

	<h3>
		添加商品
	</h3>
	<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_goodsinsert' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}

		<fieldset>
			<legend>商品信息</legend>
			<div class="control-group">
				<label class="control-label" for="input01">商品类别</label>
				<div class="controls">
					<select name="typeid" >
						<option >--请选择--</option>
					</select>
				</div>
				
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">商品名称</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="" name="goods"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">生产厂家</label>
				<div class="controls">
					<input type="passwd" class="input-xlarge" id="input01" value="" name="company" />
				</div>
			</div>	
			
			<div class="control-group">
				<label class="control-label" for="input01">单价</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="" name='price'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">图片名</label>
				<div class="controls">
					<input type="file" class="input-xlarge" id="input01"  name='picname'/>
				</div>
			</div>
					
			<div class="control-group">
				<label class="control-label" for="input01">状态</label>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="1" checked="" /> 新添加 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="2" /> 在售	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="3" /> 下架	
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">库存量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01"  name='store' />
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">被购买数量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01"  name='num' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">点击次数</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01"  name='clicknum' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">AddTime</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='addtime'  />
				</div>
			</div>			
			<div class="control-group">
				<label class="control-label" for="input01">简介</label>
				 <div class="controls">
                    <textarea cols="40" style="width:450px" rows="10" name="descr">
                    </textarea>
                </div>
			</div>						
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">保存</button> 
				<button class="btn" type="reset">重置</button>
			</div>

		</fieldset>
	</form>

   <img src="" width="100"/>
			
{% endblock %}
{%block js%}
<script type="text/javascript">
        //jQuery入口程序
    $(function(){
        $.ajax({
            url: "{% url 'myadmin_goodsadds' 0 %}",
            type: 'get',
            data: {},
            dataType:'json',
            success:function(res){
                var data = res.data;
                for(var i=0;i<data.length;i++){
                    $('<option value="'+data[i].id+'">'+data[i].name+'</option>').appendTo('select:last')
                    //$('select:last').append('<option value="'+data[i].id+'">'+data[i].name+'</option>'); 
                }
            },
            error:function(){
            	alert("ajax加载失败！");
            }
        });

        //获取最后一个下拉框并添加选中事件
        $("select").live('change',function(){
            //获取选中的id号
            var id = $(this).val();
            $(this).nextAll().remove();
            $.ajax({
                url: "/myadmin/goodsadds/"+id,
                type: 'get',
                data: {},
                dataType:'json',
                success:function(res){
                    if(res.data.length<1)
                        return;
                    var data = res.data;
                    var select = $("<select></select>")
                    for(var i=0;i<data.length;i++){
                        $('<option value="'+data[i].id+'">'+data[i].name+'</option>').appendTo(select)
                        //$('select:last').append('<option value="'+data[i].id+'">'+data[i].name+'</option>'); 
                    }
                    $("select:last").after(select);
                    $('select').removeAttr('name');
                    $("select:last").attr('name','typeid');
                }
            });
        });

    });
</script>

	
{%endblock%}