{% extends 'myadmin/base.html' %}
{% block block_edit %}

	<h3>
		编辑商品信息
	</h3>
	<form action="{% url 'myadmin_goodsupdate'%}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="oldpicname" value="{{ goods.picname}}"/>
	<input type="hidden" name="id" value="{{ goods.id}}"/>
		<table class="table table-bordered table-striped">
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="input01">类别id</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.typeid}}" name="typeid" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">商品名称</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.goods}}" name="goods"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">生产厂家</label>
				<div class="controls">
					<input type="passwd" class="input-xlarge" id="input01" value="{{goods.company}}" name="company" />
				</div>
			</div>	
			
			<div class="control-group">
				<label class="control-label" for="input01">单价</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.price}}" name='price'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">图片</label>
				<div class="controls">
					<input type="file" class="input-xlarge" id="input01" name='picname'/>
				</div>
			</div>
					
			<div class="control-group">
				<label class="control-label" for="input01">状态</label>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="1" /> 新 添加 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="2" /> 在售	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="3" /> 下架	
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">库存量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.store}}" name='store' />
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">被购买数量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.num}}" name='num' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">点击次数</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.clicknum}}" name='clicknum' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">AddTime</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{goods.addtime}}" name='addtime'  />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">简介</label>
				<div class="controls">
                    <textarea cols="40" style="width:450px" rows="10" name="descr">
                    </textarea>
                </div>
			</div>									
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">保存</button> 
				<button class="btn" type="reset">重置</button>
			</div>
		</table>
	</form>

	
{% endblock %}
{% block js%}
	<script type="text/javascript">	
	$("input[name='state'][value='{{goods.state}}']").attr("checked", true);
	</script>
{%endblock%}