{% extends 'myadmin/base.html' %}
{% block block_add%}

	<h3>
		添加会员
	</h3>
	<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_usersinsert' %}" method="post">
            {% csrf_token %}

		<fieldset>
			<legend>Your 信息</legend>
			<div class="control-group">
				<label class="control-label" for="input01">Username</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="John Smith" name="username" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="" name="name"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">password</label>
				<div class="controls">
					<input type="passwd" class="input-xlarge" id="input01" value="" name="pwd" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">sex</label>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input class="ss" type="radio" name="sex" value="0" checked="" /> 男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input class='ss' type="radio" name="sex" value="1" checked="" /> 女	
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">Address</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="" name='address'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Code</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="" name='code'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Phone</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="555 555 555" name='phone'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Email</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="john.smith@example.org" name='email' />
				</div>
			</div>			
			<div class="control-group">
				<label class="control-label" for="input01">state</label>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="0" /> 管理员 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="1" checked="" /> 启用	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="state" value="2"   /> 禁用	
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">AddTime</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='addtime'  />
				</div>
			</div>									
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">保存</button> 
				<button class="btn" type="reset">重置</button>
			</div>
		</fieldset>
	</form>

 
			
{% endblock %}
