{% extends "myadmin/base.html" %}
{%block block_index%}
	<h3>
		浏览订单详细信息
	</h3>

	<div class="row" >
	
		<div class="span3">
			<table class="table table-bordered table-striped" style="border: 1px solid #82B351">
				<div style=" ">
					<h4>购买信息</h4>
					<br>
				</div>
				<tr align="center">
					<td>订单id号</td>
					<td>{{orders.id}}</td>
				</tr>
				<tr align="center">
					<td>会员id号</td>
					<td>{{orders.uid}}</td>
				</tr>
				<tr align="center">
					<td>购买时间</td>
					<td>{{times}}</td>
				</tr>
				<tr align="center">
					<td>总金额</td>
					<td>￥{{orders.total}}元</td>
				</tr>
				<tr align="">
					<!-- {% if %} -->
					<td colspan="1" align="center"><a class="btn btn-default" href="#" >发货</a></td>
					<td colspan="1" align="center"><a class="btn btn-default" href="" >取消</a></td>
				</tr>
			</table>
		</div>
	
		<div class="span1"></div>


		<div class="span3">
			<div style=" ">
				<h4>收件信息</h4>
				<br>
				<table class="table table-bordered table-striped" style="border: 1px solid #82B351">
				<div style=" ">
				</div>
				<tr align="center">
					<td>收件人</td>
					<td>{{orders.linkman}}</td>
				</tr>
				<tr align="center">
					<td>电话</td>
					<td>{{orders.phone}}</td>
				</tr>
				<tr align="center">
					<td>邮编</td>
					<td>{{orders.code}}</td>
				</tr>
				<tr align="center">
					<td>地址</td>
					<td>{{orders.address}}</td>
				</tr>
				<tr align="center">
					<td colspan="1" align="center"><a class="btn btn-default" href="" >请确认</a></td>
				</tr>
				</table>
			</div>
		</div>

	</div>



	<table class="table table-bordered table-striped" style="border: 1px solid #82B351">
		<thead>
		<h4>订单信息</h4>
			<tr>
				<th>id</th>
				<th>订单id号</th>
				<th>商品id号</th>
				<th>商品名称</th>
				<th>商品图片</th>
				<th>单价</th>
				<th>数量</th>
			</tr>
		</thead>
		<tbody>
			{% for details in detailslsit %}
				<tr>
					<td>{{details.id}}</td>
					<td>{{details.orderid}}</td>
					<td>{{details.goodsid}}</td>
					<td>{{details.name}}</td>
					<td>					
					<img src="/static/goodsimg/s_{{details.picname}}" alt="" width="40px">
					</td>
					<td>{{details.price}}</td>
					<td>{{details.num}}</td>

				</tr>
			{% endfor %}

		</tbody>
	</table>

{%endblock%}
			